#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.moves {
  position: relative;
  margin: 2em 0 4em 0;
  text-align: center;
}

.move {
  opacity: 0.5;
  font-size: .8em;
  transition-property: font-size, opacity, top;
  transition-duration: 0.2s;
  position: absolute;
}

.move.main {
  position: relative;
  font-size: 1em;
  opacity: 1;
}

.move.previous {
  position: absolute;
  top: -100%;
}

.move.next {
  bottom: -100%;
}

.move.prepared {
  bottom: -200%;
  opacity: 0.2;
}
